
.dropdown {
    padding: 0;
}

.dropdown-size-12 {
    width: 20vw;
}

.dropdown-size-6 {
    width: 30vw;
}

.dropdown-size-4 {
    width: 40vw;
}

.dropdown-size {
    width: 50vw;
}

.palette {
    border: none;
}
